// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-index {
  list-style: none;
  padding: 20px;
}

.comment-index-item {
  margin: 10px 0;
  display: flex;
}

.comment-user-img {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}