/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 input,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 body {
   font-family: 'Overpass', sans-serif;
   margin-top: 0;
   background-color: #F2F2F2;
 }

 h1 {
   font-size: 34px;
 }

 h2 {
   font-size: 30px;
 }

 h3 {
   font-size: 24px;
 }

 h4 {
   font-size: 18px;
   color: black;
 }

 a {
   color: #3288DD;
   text-decoration: none;
 }

 *:focus {
   outline: none;
 }

 button {
   background: none;
   border: none;
   padding: none;
   width: 100%
 }

 /* SPLASH */

 .container {
   width: 100%;
   position: relative;
   height: 100vh; 
 }

 .background-white {
   background-color: white; 
 }

  .main { 
    width: 1240px;
    margin: 0 auto;
    height: 100vh;
  }

 .splash {
   width: 1240px;
   margin: 0 auto;
   height: 100%;
 }

 .hero {
     background-image: url('https://a-v2.sndcdn.com/assets/images/home/hp_image@2x-ae2160d.jpg');
     background-size: contain;
     height: 450px;
     border-top: 4px solid #FF5500;
     position: relative;
 }

 .hero-text {
   color: white;
   text-align: center;
   margin-top: 170px; 
 }

 .splash-logo {
   background: image-url('splash-logo.png');
   background-size: cover;
   width: 150px;
   padding: 10px 15px;
   position: absolute;
   top: 30px;
   left: 30px;
 }

 .splash-actions {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   position: absolute;
   top: 30px;
   right: 30px;
 }

 .splash-actions button {
   padding: 8px 15px;
   margin: 0 5px;
   border-radius: 5px;
   font-size: 13px;
   font-weight: 100;
   cursor: pointer;
 }

 .splash-actions button.sign-in {
   border: 1px solid rgba(255, 255, 255, .8);
   color: white;
   background-color: transparent;
 }

 .splash-actions button.sign-in:hover {
   border: 1px solid white;
 }

 .splash-actions button.create-account {
   color: white;
   background-color: #FF5500;
   border: none;
 }

 .trending-songs-container {
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .trending-song-items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
 }

 /* MODAL */

 .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(242,242,242); 
  background-color: rgba(242,242,242,0.8); 
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s
}

.modal-content {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto; 
  -webkit-animation: animateTop 0.4s;
  animation: animateTop 0.4s
}

.close {
  color: #111;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animateTop {
  from {margin-top: -200%}
  to {margin-top: 5%}
}

@-webkit-keyframes animateTop {
  from {margin-top: -200%}
  to {margin-top: 5%}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

 /* SESSION */

 .session-form-container {
   max-width: 420px;
   padding: 80px 20px;
   position: relative;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
 }

 .session-form-container p {
   font-size: 12px;
   color: gray;
   margin: 20px 0;
 }

 .session-form {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .session-form-container button {
   width: 100%;
   background-color: #FF5500;
   color: white;
   padding: 10px;
   cursor: pointer;
   font-size: 16px;
   margin: 10px auto;
   border-radius: 5px;
 }

 .session-form-container button.demo-login-btn {
   width: 100%;
   padding: 5px;
   margin: 5px 0;
   font-size: 12px;
 }

 .session-form-container input {
    width: 100%;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
 }

 .form-errors {
   list-style: none;
   font-size: 12px;
   color: #FF5500;
 }

 /* NAV */

 .navbar {
   width: 100%;
   position: fixed;
   height: 50px;
   background-color: #333333;
   color: lightgray;
   z-index: 1;
 }

 .navbar-content {
   width: 1240px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
 }

 .navbar-left {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 30%;
   list-style: none;
 }

 .navbar-left a.text {
   width: 100%;
   padding: 12px 0;
   border-right: 1px solid black;
   text-align: center;
 }

 .navbar-left a {
   color: lightgray;
 }

 .navbar-left a:hover {
   color: white;
 }

 .navbar-logo {
   background: image-url('navbar-logo.png');
   background-size: cover;
   width: 90px;
   height: 100%;
   border-right: 1px solid black;
 }

 .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    list-style: none;
 }

 .navbar-right li button {
    background: transparent;
    color: lightgray;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 0 20px;
 }

 .navbar-right li button:hover {
   color: white;
 }

  .navbar-right li button.user {
    font-weight: bold;
    color: #FF5500;
  }

  .navbar-search {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .navbar-search input {
     width: 100%;
      padding: 2px 5px;
      border-radius: 5px;
   }

   // SONG FORM

   .song-form-container {
     padding: 75px 25px 25px 25px;
     margin: 0 auto;
     width: 1240px;
     background-color: white;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
   }

   .song-form-container h2 {
     color: #FF5500;
     border-bottom: 1px solid #FF5500;
   }

   .song-form-container form {
     display: flex;
     flex-direction: column;
     width: 70%;
     padding: 25px;
     border: 1px solid lightgray;
     border-radius: 5px;
   }

   .song-form-columns {
     display: flex;
   }

   .song-form-left {
     width: 30%;
     padding: 25px;
     overflow: hidden;
   }

   .song-form-left p {
      margin: 10px 0 0 0;
   }

   .song-form-right {
     width: 70%;
     padding: 25px;
     display: flex;
     flex-direction: column;
   }

   .song-form-btn {
     background-color: #FF5500;
     color: white;
     width: 20%;
     padding: 5px;
     font-size: 16px;
     margin: 0 auto;
     cursor: pointer; 
   }

   .form-img-preview {
     max-width: 100%
   }

   .song-form-select {
     width: 50%;
     height: 30px;
     background-color: white;
     margin: 5px auto;
     border-radius: 5px;
     border: 1px solid lightgray;
     box-sizing: border-box;
   }

   .song-form-input {
     width: 100%;
     font-size: 12px;
     margin: 5px auto;
     padding: 5px;
     border-radius: 5px;
     border: 1px solid lightgray;
     height: 30px;
     box-sizing: border-box;
   }

   .song-form-textbox {
     width: 100%;
     height: 200px;
     font-size: 12px;
     margin: 5px auto;
     padding: 5px;
     border-radius: 5px;
     border: 1px solid lightgray;
     box-sizing: border-box;
   }

   label > p {
     margin: 10px 0 0 0;
   }

   // GENERIC COMPONENT INDEX STYLES

   .comp-index-container {
     background-color: white;
     padding: 75px 25px 25px 25px;
     margin: 0 auto;
     width: 1240px;
     box-sizing: border-box;
     height: 100vh;
   }

   .muted-text {
     color: gray;
   }

   .comp-items-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 70%;
     border-right: 1px solid lightgray;
   }

   .comp-item {
     width: 180px;
     margin: 25px 25px 0 0;
   }

   .comp-item-genre {
     font-size: 12px;
     color: gray;
   }

   .comp-show-container {
     background-color: white;
     padding-top: 50px;
     margin: 0 auto;
     width: 1240px;
     box-sizing: border-box;
     height: 100vh;
   }


   // SONG INDEX

   .song-img {
     object-fit: cover;
     width: 180px;
     height: 180px;
     transition: transform .2s;
   }

   .song-img:hover {
     transform: scale(1.02)
   }

    .preview {
      max-width: 20%;
      height: auto;
    }

    // SONG SHOW

   .song-show-contents {
     width: 100%;
     padding: 20px;
     background-image: linear-gradient(to top right, #DDE7E9, #5D8D96);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: relative;
     box-sizing: border-box;
   }

   .song-show-text {
     background-color: black;
     padding: 5px;
     color: white;
     display: inline-block;
     margin-top: 10px;
   }

   .song-show-img {
      object-fit: cover;
      width: 350px;
      height: 350px;
   }

   .play-button-img {
     height: 100px;
     width: 100px;
     padding-right: 30px;
     background: image-url('play-button.png');
     background-size: contain;
     background-repeat: no-repeat;
     cursor: pointer;
   }

   .pause-button-img {
     height: 100px;
     width: 100px;
     padding-right: 30px;
     background: image-url('pause-button.png');
     background-size: contain;
     background-repeat: no-repeat;
     cursor: pointer;
   }

   .waveform-img { // FOR DISPLAY
     position: absolute;
     left: 20px;
     bottom: 20px;
     width: 65%;
     height: 200px;
     background: image-url('waveform-img.png');
     background-size: cover;
   }

   .song-options {
     background-color: white;
     width: 100%;
     height: 50px;
     display: flex;
     align-items: center;
     border-bottom: 1px solid lightgray;
   }

   .song-options button {
     padding: 5px 10px;
     margin: 5px 0 0 15px;;
     background-color: white;
     border: 1px solid lightgray;
     border-radius: 5px;
     cursor: pointer;
     color: gray;
     font-size: 12px;
   }

   .song-options button:hover {
     border: 1px solid gray;
   }

   .song-show-left {
     display: flex;
     align-items: center;
     height: 30%;
   }

   .song-show-details {
     width: 70%;
     padding: 0 15px;
     margin: 15px 0;
     border-right: 1px solid lightgray;
     box-sizing: border-box;
   }

   .song-details {
     padding: 20px;
     box-sizing: border-box;
     display: flex;
   }

   .song-user {
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .song-user-img {
     height: 100px;
     width: 100px;
     background-image: url('http://profilepicturesdp.com/wp-content/uploads/2018/07/profile-picture-circle-png-blank-3.png');
     background-size: contain;
   }

   .song-user-avatar {
      height: 150px;
      width: 150px;
   }

   .song-user-text {
     color: black;
   }

   .song-desc {
     padding: 20px;
   }
   
   .comment-bar {
     width: 100%;
     background-color: lightgray;
     padding: 5px;
     box-sizing: border-box;
     display: flex;
   }

   .comment-bar img {
     height: 30px;
     width: 30px;
     padding-right: 5px;
   }

   .comment-bar input {
     width: 100%;
     font-size: 12px;
     padding: 5px;
     border-radius: 5px;
     border: 1px solid lightgray;
     height: 30px;
     box-sizing: border-box;
   }

   .song-show-body {
     display: flex;
     justify-content: space-around;
   }

   // PLAYBAR

   .playbar-container {
     height: 50px;
     background: #F2F2F2;
     border-top: 1px solid lightgray;
     border-bottom: 1px solid lightgray;
     width: 100%;
     position: fixed;
     left: 0px;
     bottom: 0px;
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .playbar-contents {
     width: 1240px;
     display: flex;
     margin: 0 auto;
   }

   .playbar-buttons {
     margin-left: 25px;
     display: flex;
     align-items: center;
   }

    button#play {
        border: none;
        background: none;
      }

    .playbar-button {
      border: none;
      background: none;
    }

    .playbar-song-details {
      display: flex;
      align-items: center;
      margin-right: 25px;
      width: 15%;
    }

    .playbar-song-details img {
      height: 30px;
      margin-right: 10px;
    }

    .playbar-song-text p {
      font-size: 11px;
      line-height: 12px;
    }

    .playbar-progress {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 70%;
      padding: 0 25px;
    }

    .playbar-progress p {
      width: 50px;
      text-align: center;
      font-size: 12px;
    }

    p.song-title {
      font-size: 12px;
      color: gray;
    }

    p#current-time {
      color: #FF5500;
    }

    i {
      font-size: 14px;
    }

    .playbar-container {
      display: flex;
      justify-content: flex-start;
    }

    progress[value] {
       -webkit-appearance: none;
       appearance: none;
       background-color: lightgray;
       color: #FF5500;
       height: 3px;
       width: 100%;
       cursor: pointer;
    }
    progress[value]::-webkit-progress-bar {
      background-color: lightgray;
      color: #FF5500;
    }

    progress::-webkit-progress-value {
      background-color: #FF5500;
    }

    // USER INDEX

    .artist-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
    }

    // USER SHOW

    .user-show-avatar {
      height: 250px;
      width: 250px;
    }

    .ad-banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    .ad-banner img {
      height: 200px;
      width: 200px;
    }

    .ad-banner-parent{
      width: 30%;
    }

    .user-songs {
      padding: 50px;
    }

    .user-song-list {
      list-style: none;
    }

    .user-song-img img {
      width: 75px;
      height: 75px;
      padding: 25px;
    }

    .user-song-item {
      display: flex;
      align-items: center;
    }

    .user-song-header {
      color: #FF5500;
      border-bottom: 1px solid #FF5500;
    }

    .play-pause-button {
      padding: 15px;
    }

    .user-song-title {
      color: black;
    }

    // SEARCH

    .navbar-search {
      position: relative;
    }

    .search-results {
      position: absolute;
      top: 50px;
      left: 0%;
      background: #333333;
      width: 100%;
    }

    .search-section {
      padding: 5px 15px;
    }

    .search-header {
      color: white;
    }

    .search-item {
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .search-item:hover {
      background-color: gray;
    }

    .search-img {
      height: 40px;
      width: 40px;
      padding-right: 10px;
    }

    p.search-result-text {
      color: white;
      font-size: 14px;
    }

    .hidden {
      display: none;
    }


